.lolleague-geral-mainDiv-container{

    width: 75vw;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lolleague-geral-svg-discord, .lolleague-geral-svg-twitter, .lolleague-geral-svg-twitch{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.lolleague-geral-inforDiv-container p{
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: -10px;
}

.lolleague-geral-nextMatch-container p{
    position: absolute;
    right: 25px;
    font-size: 16px;
    top: -6px;
}

.lolleague-geral-nextMatch-container label{
    position: absolute;
    left: 25px;
    font-size: 20px;
    bottom: 10px;
}

.lolleague-geral-nextMatch-container{
    position: relative;
    width: 25vw;
    height: 17vh;
    background-color: rgb(22, 22, 22);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 45% 0px;
    border-radius: 0px 0px 0px 0px;
    background-image: url('../../assets/versus.png');
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 3px 0px 4px 0px rgb(0, 0, 0);;
}

.lolleague-geral-inforDiv-container{
    position: relative;
    width: 30vw;
    height: 17vh;
    background-color: rgb(22, 22, 22);
    background-image: url('../../assets/op.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0px;
    border-radius: 0px 0px 10px 0px;
    box-shadow: -2px 2px 3px 1px rgb(0, 0, 0);;
}

.lolleague-geral-inforDiv-name{
    padding-top: 10px;
    padding-left: 10px;
}

.lolleague-geral-inforDiv-extra{
    padding-left: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.lolleague-geral-inforDiv-name h2{
    margin-top: -10px;
}

.lolleague-geral-inforDiv-name h4{
    margin-top: -20px;
}

.lolleague-geral-nextMatch-teams{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.lolleague-geral-nextMatch-blueteam{
    display: flex;
    align-items: center;
    width: 43%;
}

.lolleague-geral-nextMatch-redteam{
    display: flex;
    align-items: center;
    text-align: end;
    width: 43%;
}

.lolleague-geral-nextMatch-redteam text{
    font-size: 13px;
    width: 72%;
    margin-right: 3px;
}

.lolleague-geral-nextMatch-blueteam text{
    font-size: 13px;
    width: 72%;
    margin-left: 3px;
}

.lolleague-geral-nextMatch-teams{
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    height: 100%;
}

.lolleague-geral-nextMatch-redteam img{
    width: 40px;
    height: 40px;
}

.lolleague-geral-nextMatch-blueteam img{
    width: 40px;
    height: 40px;
}

.lolleague-geral-nextMatch-infoMid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 13%;
}

.lolleague-geral-nextMatch-infoMid .lolleague-geral-nextMatch-VS{
    font-weight: bold;
    font-size: 19px;
}

.lolleague-geral-moderatorsDiv-container{
    position: relative;
    width: 30vw;
    height: 71vh;
    background-color: rgb(22, 22, 22);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 45% 0px;
    background-image: url('../../assets/ct.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.lolleague-geral-socialDiv-container{
    opacity: none;
    width: 30vw;
    height: 30vh;
}

.lolleague-geral-melhoresJog-container{
    position: relative;
    overflow-y: scroll;
    width: 30vw;
    height: 38vh;
    background-color: rgb(22, 22, 22);
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 2px 4px 2px rgb(0, 0, 0);;
}

.lolleague-geral-twitch-container{
    width: 70vw;
    height: 71vh;

}

.lolleague-geral-melhoresJog-container p{
    position: absolute;
    right: 25px;
    font-size: 20px;
    top: -10px;
}

.header .css-trot39-Root .e1gp86mg0{
    opacity: 0 !important;
}

.lolleague-geral-dividerC{
    display: flex;
}

.lolleague-geral-melhoresJog-container div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 3%;
    padding-right: 5%;
}

.lolleague-geral-melhoresJog-container div label{
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.lolleague-geral-melhoresJog-container div label img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: black;
    border: 1px solid #2dc096;
    margin-right: 5%;
}

.lolleague-geral-chat-container{
    color: white;
}
