.navbar-mainDiv-container{
    display: flex;
    background-color: #111111;
    width: 100%;
    height: 30px;
    font-family: Arialz;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid #2dc096;
}

.navbar-thIMG-tag{
    width: 170px;
    height: 170px;
}

.navbar-thDiv-container{
    display: flex;
    align-items: center;
    width: 25%;
    font-family: Arialz;
}

.navbar-navigationDiv-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 75%;
    padding-right: 5%;
}

.navbar-navigationDiv-container h3:hover{
    color: #2dc096 ;
    cursor: pointer;
    transition: 0.12s;
}

.active{
    color: #2dc096 !important;
    text-decoration: underline;
}
