.home-mainDiv-container{
    height: 100vh;
    overflow: hidden;
    z-index: 10;
}

.home-LogoDiv-container{
    display: flex;
    color: white;
    align-items: center;
}

.home-theaterVideo{
    position: absolute;
    top: 0;

    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.home-theaterShadow{
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: transparent;
    position: absolute;
}

.home-theaterVideo video{
    position: absolute;
    left: -10%;
    width: 125vw;
    height: 125vh;
}

.home-LogoIMG-tag{
    width: 120px;
    height: 120px;
}

.home-headerTitleDiv-container{
    position: relative;
    z-index: 10;
    width: 50%;
    background-color: rgba(37, 37, 37, 0.842);
    border-radius: 0px 0px 12px 0px;
    box-shadow: 0px 2px 4px 2px #242424;
}

.home-headerTitleDiv-container div h1{
    font-family: Arialz;
    font-weight: bolder;
}

.home-headerTitleDiv-container div h4{
    margin-top: -20px;
}