body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'ShentoxL', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Shentox";
  src: url('./fonts/shentox.ttf');
}

@font-face {
  font-family: "ShentoxB";
  src: url('./fonts/shentox-semibold.ttf');
}

@font-face {
  font-family: "ShentoxL";
  src: url('./fonts/shentox-light.ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
